.home-container {
  position: relative;
}

.loader {
  --s: 64px;
  width: var(--s);
  aspect-ratio: 2;
  --_g: #000 90%, #0000;
  background: radial-gradient(farthest-side, var(--_g)) 0 50%/25% 50%,
    radial-gradient(farthest-side at bottom, var(--_g)) 50%
      calc(50% - var(--s) / 16) / 25% 25%,
    radial-gradient(farthest-side at top, var(--_g)) 50%
      calc(50% + var(--s) / 16) / 25% 25%,
    radial-gradient(farthest-side at bottom, var(--_g)) 100%
      calc(50% - var(--s) / 16) / 25% 25%,
    radial-gradient(farthest-side at top, var(--_g)) 100%
      calc(50% + var(--s) / 16) / 25% 25%;
  background-repeat: no-repeat;
  animation: l14 1s infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@keyframes l14 {
  25% {
    background-position: 0 50%, 50% 0, 50% 100%, 100% 0, 100% 100%;
  }
  50% {
    background-position: 100% 50%, 0 0, 0 100%, 50% 0, 50% 100%;
  }
  75%,
  100% {
    background-position: 100% 50%, 0 calc(50% - var(--s) / 16),
      0 calc(50% + var(--s) / 16), 50% calc(50% - var(--s) / 16),
      50% calc(50% + var(--s) / 16);
  }
}

/* Add responsive styles as needed */
@media (max-width: 768px) {
  .text-4xl {
    font-size: 3rem;
  }

  .text-lg {
    font-size: 1rem;
  }
}

.content.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
